@import "../../../bower_components/reveal.js/css/theme/template/settings";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: #000;
$headingFont: 'Open Sans', sans-serif;
$headingColor: #000;
$headingLetterSpacing: normal;
$headingTextShadow: none;
$backgroundColor: #fff;
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

// Title card theme
$titleMainColor: #fff;
$titleAlternateColor: #93e2ff;
$titleBackgroundColor: #00aeef;
$titleHeadingSize: 40pt;

// Fix links so they are not cut off
.reveal a {
	line-height: 1.3em;
}

.reveal {
	.backgrounds {
		.title-slide {
			background-image: url('../../images/hootsuite.png');
			background-size: 250px;
			background-repeat: no-repeat;
			background-position: left bottom;
		}
	}
	.title-slide {
		color: $titleMainColor;
		background-color: $titleBackgroundColor;
		font-size: 15pt;
		text-align: left;

		h1 {
			color: $titleMainColor;
			font-size: $titleHeadingSize;
			font-weight: bold;
			letter-spacing: normal;
			text-transform: none;
		}

		h2 {
			color: $titleAlternateColor;
			font-size: 20pt;
			font-weight: bold;
			letter-spacing: normal;
			text-transform: uppercase;
		}

		a {
			color: $titleAlternateColor;
		}
	}
}


// Theme template ------------------------------
@import "../../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------
