@import "../../../bower_components/reveal.js/css/theme/template/settings";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

// Override theme settings (see ../template/settings.scss)
// Background
$backgroundColor: #fff;

// Primary/body text
$mainFont: 'Open Sans', sans-serif;
$mainFontSize: 20pt;
$mainColor: #000;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Open Sans', sans-serif;
$headingColor: #000;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: bold;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );

// Title card theme
$titleMainColor: #fff;
$titleAlternateColor: #93e2ff;
$titleBackgroundColor: #00aeef;
$titleHeadingSize: 40pt;

// Fix links so they are not cut off
.reveal a {
	line-height: 1.3em;
}

.reveal {
	.backgrounds {
		.title-slide {
			background-image: url('../../images/hootsuite.png');
			background-size: auto 75px;
			background-repeat: no-repeat;
			background-position: 5% 95%;
		}

		background-image: url('../../images/hootsuite-owl.png');
		background-size: auto 75px;
		background-repeat: no-repeat;
		background-position: 5% 95%;

	}

	.slides {
		text-align: left;
	}

	.title-slide {
		color: $titleMainColor;
		background-color: $titleBackgroundColor;
		font-size: 15pt;
		text-align: left;

		h1 {
			color: $titleMainColor;
			font-size: $titleHeadingSize;
			font-weight: bold;
			letter-spacing: normal;
		}

		h2 {
			color: $titleAlternateColor;
			font-size: 20pt;
			font-weight: bold;
			letter-spacing: normal;
			text-transform: uppercase;
		}

		a {
			color: $titleAlternateColor;
		}
	}
}


// Theme template ------------------------------
@import "../../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------
